---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<html>
<head>
<style>
p.xsmall {
    line-height: 1.55;
    font-size: 9.5pt;
    margin-left: 40px; 
}

p.small {
    line-height: 1.55;
    font-size: 11.5pt;
    margin-left: 40px; 
}

p.big {
    line-height: 1.55;
}

p.noindent {
    line-height: 1.55;
    font-size: 13pt;
}

</style>
</head>
<body>








<p class="noindent">

Hello. I am a fourth-year (undergraduate) student majoring in computer science and mathematics at the University of Chicago (and a proud resident of the <a href=/house/ style="color: #940000">Burton-Judson Courts</a>). Get in touch at yz at uchicago dot edu!

<br><br>

My research focuses on natural langauge processing and machine learning. Recent interests include (i) learning and inference in structured prediction, (ii) multi-view learning and information theoretic co-training, and (iii) controlled text generation. I am actively exploring other subfields. 

<br><br>

My advisor is <a href="http://ttic.uchicago.edu/~kgimpel/" style="color: #0075B8">Professor Kevin Gimpel</a> at Toyota Technological Institute at Chicago (TTIC) and the University of Chicago. I have been a member of the <a href=http://ttic.uchicago.edu/~klivescu/SLATTIC/people.htm style="color: #0075B8"> TTIC Speech and Language Group</a> since September 2017. 

</font>
<p>









<h3>Research</h3>
<hr>


<p class="small">
<!-- <font size="3"> -->

Will update soon. First work on style transfer or controlled text generation. Second work on structured prediction. 

<!-- </font> -->
<p>





<h3>Teaching</h3>
<hr>

<p class="small">
<!-- <font size="3"> -->

Spring 2017, <i>Course Assistant</i>, MATH 15910: Intro to Proofs in Analysis<br>
Winter 2017, <i>Course Assistant</i>, MATH 15910: Intro to Proofs in Analysis<br>
Winter 2017, <i>Grader</i>, CMSC 15200: Intro to Computer Science II<br>
Autumn 2016, <i>Teaching Assistant</i>, MATH 15300: Calculus III<br>

<!-- </font> -->
<p>













<h3>Relevant Coursework</h3>
<hr>

<p class="xsmall">
<!-- <font size="2.5"> -->

CMSC 27230 - Honors Theory of Algorithms<br>
CMSC 25025 / STAT 37601 - Machine Learning and Large-Scale Data Analysis (grad level, Lafferty)<br>
CMSC 35400 / STAT 37710 - Machine Learning (grad level, Kondor)<br>
TTIC 31020 - Statistical Machine Learning (grad level, Shakhnarovich)<br>
TTIC 31190 - Natural Language Processing (grad level, Gimpel)<br>
TTIC 41000 - Spectral Techniques (grad level, Stratos, Autumn 2018)<br>
MATH 20300-20400 - Accelerated Real Analysis I, II (III in 2019)<br>
MATH 20250, 25400-25500 - Abstract Linear Algebra; Abstract Algebra I, II<br>
BIOS 10602-10603 - Multiscale Modeling of Biological Systems I, II  (computational biology)

<!-- </font> -->
<p>















<h3>Miscellaneous</h3>
<hr>

<p class="small">
<!-- <font size="3"> -->
I <a href="/writings/" style="color: #008016">write</a>. I <a href="../misc-files/mi-avril.pdf" style="color: #008016">compose</a>.
<!-- </font> -->
</p>




<br><br>



<p class="noindent">
<!-- <font size="3"> -->

More materials coming soon

<!-- </font> -->
</p>










</body>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
